@mixin font-icon-pseudo-content($char, $rotation, $rotation-origin) {
  content: fa-content($char);

  @if $rotation != null {
    display: inline-block;
    -webkit-transform: $rotation;
    -webkit-transform-origin: $rotation-origin;
    -moz-transform: $rotation;
    -moz-transform-origin: $rotation-origin;
    -ms-transform: $rotation;
    -ms-transform-origin: $rotation-origin;
    transform: $rotation;
    transform-origin: $rotation-origin;
  }
}